html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  // This turns the cursor into the little hand when hovered over the button
  cursor: pointer;
}

button:disabled {
  // This sets the cursor to default when we are hovered over a disabled button
  cursor: default;
}

.is-active {
  font-weight: bold;
}
